.table{
    width: 60rem;
}
.title{
    text-align: center;
    margin: 2rem;
}

.thead{
    background-color: black;
    color: white;
    text-align: center;
}

.loading{
    border: 1px solid gray;
    background-color: white;
    padding: 5rem;
    color: black;
    text-align: center;
    margin: 10rem;
    font-size: 1.5rem;
}

.errorDiv {
    color: red;
    border: 1px solid red;
    padding: 1rem;
    margin: 0.5rem auto;
    width: 95%;
    max-width: 35rem;
    text-align: center;
  }



