.add {
  margin: 3rem auto;
  width: 95%;
  max-width: 35rem;
  border-radius: 6px;
  background-color: #008080;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
}

.addTitle {
  text-align: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  background-color: white;
  border: 1px solid #008080;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  margin-right: 0.5rem;
}

.actions .button1:hover {
  background-color: blue;
  border-color: #873abb;
}

.actions .button2:hover {
  background-color: red;
  border-color: #873abb;
}

.successDiv {
  color: green;
  border: 1px solid green;
  padding: 1rem;
  margin: 0.5rem auto;
  width: 95%;
  max-width: 35rem;
  text-align: center;
}

.errorDiv {
    color: red;
    border: 1px solid red;
    padding: 1rem;
    margin: 0.5rem auto;
    width: 95%;
    max-width: 35rem;
    text-align: center;
  }

  .button2{
    cursor: pointer;
    font: inherit;
    background-color:  white;
    border: 1px solid  #008080;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    margin-left: 27rem;
    font-size: small;
  }

  .button2:hover {
    background-color: red ;
    border-color: #873abb;
    
  }

  .isAdding{
    border: 1px solid gray;
    background-color: white;
    padding: 5rem;
    color: black;
    text-align: center;
    margin: 10rem;
    font-size: 1.5rem;
}
